* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

body {
    background-color: rgb(205, 224, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.input {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    font-weight: bold;
}

#username-input, #password-input {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-size: 1rem;
    color: #555;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#submit-button {
    text-align: center;
}

button {
    background-color: rgb(205, 224, 231);
    color: rgb(59, 59, 59);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

button:hover {
    background-color: #8b8b8b;
}

